body {
  background-color: #001735;
  background-image: url("../images/light.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #f7e7d7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
}

form > div {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
  background: #001735;
  border-radius: 8px;
  border: 1px solid #f7e7d7;
}

h1,
h2 {
  color: #f7e7d7;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: #f7e7d7;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #f7e7d7;
  border-radius: 4px;
  background-color: #fff;
  color: #001735;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px #f7e7d7;
}

button {
  padding: 10px;
  font-size: 1rem;
  background-color: #001735;
  border: 1px solid #f7e7d7;
  color: #f7e7d7;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f7e7d7;
  color: #001735;
}

p {
  text-align: center;
}

a {
  color: #f7e7d7;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.password-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.toggle-password-signup,
.toggle-password-login {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease-in-out;
}

.toggle-password-signup {
  bottom: 37px;
  color: #ff1e00;
}

.toggle-password-login {
  bottom: 12px;
  color: #ff5c5c;
}

.toggle-password-signup:hover,
.toggle-password-login:hover {
  background-color: white;
  transform: scale(1.2);
}

#captcha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

#captcha-container .g-recaptcha {
  display: inline-block;
  margin: 0;
}

#signup-captcha-placeholder,
#login-captcha-placeholder {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.g-recaptcha {
  margin: 0 auto;
}

.rgpd-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
